.borderClass {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.commentItem {
    font-size: 14px;
    line-height: 1.4;
    margin-top: 5px;
}

.Comment.Group {
    margin-top: 20px;
}

.Comment .d-flex {
    display: flex;
    align-items: center;
}